# dtbo.img-Layout identisch zu Stock T736BXXS9DYF1:
# Entry 0 = sec-system-update-Overlay, danach HW-Revisions-Overlays
 dt_type=dtbo
 page_size=4096
 version=0

samsung/lagoon-sec-system-update-overlay.dtbo
samsung/gts7/gts7xllite/gts7xllite_eur_openx_w00_r03.dtbo
samsung/gts7/gts7xllite/gts7xllite_eur_openx_w00_r04.dtbo
samsung/gts7/gts7xllite/gts7xllite_eur_openx_w00_r05.dtbo
samsung/gts7/gts7xllite/gts7xllite_eur_openx_w00_r00.dtbo
samsung/gts7/gts7xllite/gts7xllite_eur_openx_w00_r02.dtbo
